@import url("https://fonts.googleapis.com/css?family=Pacifico|Merriweather:400,700");
* {
  margin: 0;
  padding: 0; }

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #f0e6d7;
  font-family: "Merriweather", serif; }

a {
  text-decoration: none; }

#wrapper {
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

header {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("https://images.unsplash.com/photo-1487943155999-d5534d14a384?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80") no-repeat center/cover;
  position: relative; }
  header .navbar {
    width: 100%;
    background: #213058;
    box-sizing: border-box;
    z-index: 50;
    position: fixed;
    border-bottom: solid 2px #f4ae3f; }
    header .navbar .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      box-sizing: border-box; }
      header .navbar .container .navbar--brand {
        font-family: "Pacifico", cursive;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #f4ae3f;
        line-height: 0.8;
        letter-spacing: 0.025rem;
        text-transform: capitalize;
        padding: 0.8rem 0.5rem; }
      header .navbar .container ul.navbar--nav {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(4, minmax(40px, 1fr));
        grid-column-gap: 0.25rem; }
        header .navbar .container ul.navbar--nav.navbar--social {
          display: grid;
          grid-template-columns: repeat(3, minmax(10px, 1fr));
          grid-column-gap: 0.05rem; }
          header .navbar .container ul.navbar--nav.navbar--social .social-fa {
            border: solid 1px;
            border-radius: 50%;
            padding: 0.8rem; }
            header .navbar .container ul.navbar--nav.navbar--social .social-fa.fa-facebook-f {
              padding: 0.8rem 1rem; }
        header .navbar .container ul.navbar--nav .nav__link {
          padding: 0.5rem;
          height: 100%;
          display: block;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.025rem;
          color: #f4ae3f;
          font-size: 0.9rem; }
          header .navbar .container ul.navbar--nav .nav__link.active {
            border-bottom: solid 1px rgba(244, 174, 63, 0.3);
            color: rgba(244, 174, 63, 0.3); }
  header #welcome {
    width: 100%;
    height: 500px;
    z-index: 5; }
    header #welcome .welcome--inner {
      width: 70%;
      height: 500px;
      display: flex;
      margin: 0 auto;
      padding: 70px 1rem;
      align-items: center; }
      header #welcome .welcome--inner .welcome__left {
        flex: 1;
        box-sizing: border-box; }
        header #welcome .welcome--inner .welcome__left .display--3 {
          display: flex;
          flex-direction: column;
          font-family: "Pacifico", cursive;
          text-transform: capitalize;
          font-size: 6rem;
          line-height: 0.9;
          text-align: center;
          height: 100%;
          padding: 2rem 0;
          letter-spacing: 0.025rem;
          color: #f4ae3f; }
      header #welcome .welcome--inner .welcome__right {
        flex: 1; }

header:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: rgba(33, 48, 88, 0.35); }

#rice {
  min-height: 500px;
  width: 100%; }
  #rice .rice--inner {
    min-height: 500px;
    width: 100%;
    display: flex;
    box-sizing: border-box; }
    #rice .rice--inner .rice__left {
      flex: 1; }
      #rice .rice--inner .rice__left .container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #213058;
        flex-direction: column;
        text-align: center;
        box-sizing: border-box;
        padding: 0 1.5rem;
        margin: 0 auto;
        height: 100%; }
        #rice .rice--inner .rice__left .container .display--4 {
          font-size: 2rem;
          line-height: 1.5;
          letter-spacing: 0.03rem;
          font-family: "Pacifico", cursive;
          text-transform: uppercase;
          border-bottom: solid 3px #213058;
          padding: 1rem 0;
          margin: 1.5rem 0; }
        #rice .rice--inner .rice__left .container .rice__description {
          font-size: 0.85rem;
          letter-spacing: 0.035rem;
          line-height: 1.75; }
    #rice .rice--inner .rice__right {
      flex: 1;
      background: url("https://images.unsplash.com/photo-1504358958476-e5881667ddf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center/cover;
      position: relative; }
      #rice .rice--inner .rice__right:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: rgba(33, 48, 88, 0.35); }

#about {
  min-height: 500px;
  width: 100%; }
  #about .about--inner {
    min-height: 500px;
    width: 100%;
    display: flex;
    box-sizing: border-box; }
    #about .about--inner .about__left {
      flex: 1;
      background: url("https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80") no-repeat center/cover;
      filter: grayscale(100%); }
    #about .about--inner .about__right {
      flex: 1; }
      #about .about--inner .about__right .container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #213058;
        flex-direction: column;
        text-align: center;
        padding: 0 1.5rem;
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        height: 100%; }
        #about .about--inner .about__right .container .display--4 {
          font-size: 2rem;
          line-height: 1.5;
          letter-spacing: 0.03rem;
          font-family: "Pacifico", cursive;
          text-transform: uppercase;
          border-bottom: solid 3px #213058;
          padding: 1rem 0;
          margin: 1.5rem 0; }
        #about .about--inner .about__right .container .about__description {
          font-size: 0.85rem;
          letter-spacing: 0.035rem;
          line-height: 1.75; }

/*# sourceMappingURL=styles.css.map */
