@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,800");

// Colors
$primary: #c2d7d0;
$secondary: #1b1813;
$tertiary: #7a958e;
$quaternary: #354d40;
$white: #fff;
$black: #000;

// Fonts
$montserrat: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $montserrat;
}

a {
  text-decoration: none;
}

header {
  min-height: 600px;
  width: 100%;
  background: $white;
  box-sizing: border-box;
  padding: 1rem 0;
  .container--wd {
    background: rgba(194, 215, 208, 0.5);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 0.35rem;
    position: relative;
  }

  .container--wd:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: url("https://images.pexels.com/photos/949211/pexels-photo-949211.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat 100% 100% / cover;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 0.35rem;
  }

  .container--wd:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(194, 215, 208, 0.35);
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 0.35rem;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    .navbar--brand {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.075rem;
      color: $secondary;
      border: solid 2px $secondary;
      padding: 0.5rem;

      .brand__top {
        height: 100%;
        border-right: solid 2px $secondary;
        padding: 0 0.3rem;
      }
    }
    .navbar--nav {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, minmax(50px, 1fr));

      .nav__link {
        text-transform: uppercase;
        color: $secondary;
        letter-spacing: 0.075rem;
        text-align: center;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;

        &:hover,
        &.active {
          color: $quaternary;
          border-bottom: solid 1.5px;
        }
      }
    }
  }

  #welcome {
    min-height: 500px;
    width: 100%;
    z-index: 5;
    .welcome--inner {
      min-height: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .display--2,
      .display--5 {
        text-transform: uppercase;
        color: $quaternary;
      }

      .bar--sm {
        border-color: $quaternary !important;
      }
    }
  }
}

#rice-section {
  width: 100%;
  min-height: 500px;
  background: rgba(194, 215, 208, 0.5);
  .rice--inner {
    width: 100%;
    min-height: 500px;

    .container {
      width: 100%;
      min-height: 500px;
      display: flex;

      .left {
        flex: 1;
        background: url("https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
          no-repeat center/cover;
        position: relative;
      }

      .left:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        height: 100%;
        width: 100%;
        background: rgba(194, 215, 208, 0.35);
      }
      .right {
        flex: 1;

        .container {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          width: 90%;
          margin: 0 auto;
          padding: 0 0.8rem;

          .display--4 {
            text-transform: uppercase;
          }

          .description {
            font-size: 0.85rem;
            letter-spacing: 0.035rem;
            padding: 0.5rem;
            line-height: 1.75;
          }
        }
      }
    }
  }
}

#about-section {
  width: 100%;
  min-height: 500px;

  .about--inner {
    width: 100%;
    min-height: 500px;

    .container {
      width: 100%;
      min-height: 500px;
      display: flex;

      .right {
        flex: 1;
        position: relative;
        background: url("https://images.pexels.com/photos/789555/pexels-photo-789555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
          no-repeat center/cover;
      }

      .right:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(194, 215, 208, 0.35);
        height: 100%;
        width: 100%;
        content: "";
      }

      .left {
        flex: 1;

        .container {
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          width: 90%;
          margin: 0 auto;
          padding: 0 0.8rem;

          .display--4 {
            text-transform: uppercase;
          }

          .description {
            font-size: 0.85rem;
            letter-spacing: 0.035rem;
            padding: 0.5rem;
            line-height: 1.75;
          }
        }
      }
    }
  }
}

#contact-section {
  min-height: 500px;
  width: 100%;

  .contact--inner {
    width: 100%;
    min-height: 500px;

    .container {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(194, 215, 208, 0.5);
      box-sizing: border-box;
      padding: 1rem 0;
      .display--4 {
        text-transform: uppercase;
      }
      .card {
        margin: 0.5rem 0;

        .card--body {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          .card--form {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .form--control,
            .btn {
              margin: 0 0.2rem;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  min-height: 150px;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  .left {
    .cfa-social {
      padding: 0.85rem;
      font-size: 1.2rem;
      border-radius: 50%;
      margin: 0 0.25rem;
      background: rgba(194, 215, 208, 0.5);
      // color: #c3cd97;
      color: $quaternary;
      border: solid 1px rgba(194, 215, 208, 0.5);
      &.fa-facebook-f {
        padding: 0.85rem 1.1rem;
      }

      &:hover {
        background: transparent;
        color: $quaternary;
        transform: scale(1.25);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .right {
    .bottom--nav {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-column-gap: 0.5rem;

      .nav__link {
        text-transform: uppercase;
        color: $secondary;
        letter-spacing: 0.075rem;
        text-align: center;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;

        &:hover {
          color: $quaternary;
          border-bottom: solid 1.5px;
        }
      }
    }
  }
}
// Utility Classes
.container--wd {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
}

.btn--navbar {
  border: solid 2px $secondary;
}

.display--2 {
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
  font-weight: 800;
}

.display--5 {
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.display--4 {
  letter-spacing: 0.03rem;
  font-size: 2rem;
  font-weight: 600;
}

.bar--sm {
  border: solid 4px $secondary;
  margin: 0.85rem 0;
  width: 25px;
}

.bar--md {
  border: solid 4px $secondary;
  margin: 0.85rem 0;
  width: 30px;
}

.card {
  width: 50%;
  height: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.form--group {
  display: flex;
  margin: 0.5rem 0;
}

.form--control {
  background: $white;
  padding: 1rem 0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.125);
  width: 100%;
  font-family: $montserrat;
  font-size: 0.9rem;
  resize: none;
}

.btn {
  background: transparent;
  padding: 1rem;
  border: solid 1px $secondary;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.035rem;
  font-weight: 400;
}

// hover states
.nav__link:hover {
  color: $quaternary;
}

.btn:hover {
  color: $white;
  background: $secondary;
}

// Mobile Version
@media all and (max-width: 768px) {
}
