@import url("https://fonts.googleapis.com/css?family=Pacifico|Merriweather:400,700");

// Colors
$primary: #c2d7d0;
$secondary: #1b1813;
$tertiary: #7a958e;
$white: #fff;
$black: #000;

// Fonts
$merriweather-font: "Merriweather", serif;
$pacifico-font: "Pacifico", cursive;

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: $merriweather-font;
}

a {
  text-decoration: none;
}

header {
  min-height: 600px;
  width: 100%;
  background: $white;
  box-sizing: border-box;
  padding: 1rem 0;
  .container--wd {
    background: $primary;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 0.35rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar--brand {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.075rem;
      color: $secondary;
      border: solid 2px $secondary;
      padding: 0.5rem;

      .brand__top {
        height: 100%;
        border-right: solid 2px $secondary;
        padding: 0 0.3rem;
      }
    }
    .navbar--nav {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      grid-column-gap: 0.5rem;

      .nav__link {
        text-transform: uppercase;
        color: $secondary;
        letter-spacing: 0.075rem;
        text-align: center;
        display: block;
        padding: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
  }
}

// Utility Classes
.container--wd {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
}

.btn--navbar {
  border: solid 2px $secondary;
}
